/* CSS Responsivo */
@media (max-width: 768px) {
    .header-menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .titulo-da-banda img {
        width: 100%;
        padding: 20px;
    }

    .redes-sociais {
        flex-direction: column;
        gap: 10px;
    }

    .tour-dates-lista {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        gap: 15px; /* Novidade: Aumenta o espaçamento entre os itens da lista */
    }

    .tour-dates-lista-dentro-da-lista {
        margin-bottom: 10px; /* Novidade: Aumenta o espaçamento entre o texto e o botão */
    }

    .photos {
        margin-left: 20px;
        margin-right: 20px;
    }

    .top-row, .bottom-row {
        flex-direction: column;
        align-items: center;
    }

    .quadro-maior, .quadro-menor, .quadro-menor-redondo {
        width: 100%;
        height: auto;
        max-width: 600px; /* Novidade: Aumenta o tamanho máximo das imagens */
        margin-bottom: 20px; /* Novidade: Adiciona espaçamento entre as imagens */
    }

    .listen iframe {
        width: 100%;
        height: auto;
        width: 90%; /* Novidade: Aumenta a largura para ocupar mais espaço */
        height: 650px; /* Novidade: Aumenta a altura */
    }

    .watch iframe {
        width: 100%;
        height: auto;
        width: 95%; /* Novidade: Aumenta a largura para ocupar mais espaço */
        height: 550px; /* Novidade: Aumenta a altura */
    }

    .footer p {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .header-menu a {
        font-size: 1.2rem;
    }

    .tour-dates h1, .listen h1, .watch h1 {
        font-size: 30px;
    }

    .ticket-button {
        padding: 5px 20px;
    }

    .tour-dates-lista-dentro-da-lista {
        margin-bottom: 2px; /* Novidade: Ajusta o espaçamento para telas menores */
    }

    .quadro-maior, .quadro-menor, .quadro-menor-redondo {
        max-width: 100%; /* Novidade: Permite que as imagens ocupem toda a largura disponível */
    }

    .listen iframe {
        width: 100%; /* Novidade: Ocupa toda a largura disponível */
        height: 500px; /* Novidade: Ajusta a altura para telas menores */
    }

    .watch iframe {
        width: 100%; /* Novidade: Ocupa toda a largura disponível */
        height: 300px; /* Novidade: Ajusta a altura para telas menores */
    }
}


/* Estilos para o botão de menu */
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
}

/* Estilo para o menu quando aberto */
.header-menu.open {
    background-color: #1A622A; /* Cor verde */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0px; /* Ajuste conforme necessário */
    left: 0;
    z-index: 1;
}

/* Ocultar o menu em dispositivos móveis */
@media (max-width: 768px) {
    .header-menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .titulo-banda-img {
        width: 40%;
        max-width: 400px; /* Define um limite máximo para a largura */
        padding: 20px;
        margin-top: 340px; /* Espaçamento superior */
        margin-bottom: 340px; /* Espaçamento inferior */
    }

    .redes-sociais img {
        width: 30px; /* Ajuste conforme necessário */
        height: 30px;
    }
}